<?xml version="1.0" encoding="UTF-8"?>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<wicket:head>
    <wicket:remove>
        <head>
            <link rel="stylesheet" type="text/css" href="../../../../../../css/style.css"/>
        </head>
    </wicket:remove>
</wicket:head>
<body>
<wicket:panel>
    <div class="post" style="width: 450px;">
        <h1 class="title"><wicket:message key="title.employees">Employees</wicket:message></h1>
        <div wicket:id="employee_list">
            <div class="entry">
                <div class="bigpix" style="vertical-align: baseline; display: block;">
                    <wicket:remove>
                        <div class="employees">
                            <a class="employee">
                                <img src="../../../../../../images/User_female.png" alt="" class="avatar"/>
                            </a>
                            <a href="#">
                                <span class="caption" style="padding:0; margin:0">Иванов Иван Иванович</span>
                            </a>
                        </div>
                    </wicket:remove>
                    <div class="employees" wicket:id="employees">
                        <a class="employee" wicket:id="employee_select">
                            <img src="../../../../../../images/User_male.png" alt="" class="avatar"
                                 wicket:id="employee_img"/>
                        </a>
                        <a wicket:id="employee_edit">
                            <span class="caption" style="padding:0; margin:0"
                                  wicket:id="employee_title">[EMPLOYEE NAME]</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post" style="width: 630px; float: none;">
                <br/>
                <div wicket:id="navigator" style="float: none;"></div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>