<?xml version="1.0" encoding="UTF-8"?>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<wicket:head>
    <wicket:remove>
        <head>
            <link rel="stylesheet" type="text/css" href="../../../../../../css/style.css"/>
        </head>
    </wicket:remove>
</wicket:head>
<body>
<wicket:panel>
    <div id="current_task" class="post">
        <h1 class="title"><wicket:message key="current.tasks">Current tasks</wicket:message></h1>

        <table class="list">
            <tr>
                <td class="mail_img"></td>
                <td class="header">Добро пожаловать в систему ТаскУн !</td>
            </tr>
            <tr>
                <td class="task_img"></td>
                <td class="header">Чтобы приступить к работе необходимо иницилизировать систему</td>
            </tr>
        </table>

    </div>
</wicket:panel>
</body>
</html>