<?xml version="1.0" encoding="UTF-8"?>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<wicket:head>
    <wicket:remove>
        <head>
            <link rel="stylesheet" type="text/css" href="../../../../../../css/style.css"/>
        </head>
    </wicket:remove>
</wicket:head>
<body>
<wicket:panel>
    <div class="post" style="width: 630px; float: none;">
        <h1 class="title">Задачи</h1>
    </div>
</wicket:panel>
</body>
</html>