<?xml version="1.0" encoding="UTF-8"?>
 <html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/"
      xml:lang="en"
      lang="en">
<body>
<wicket:head>
    <wicket:remove>
        <head>
            <link rel="stylesheet" type="text/css" href="../../../../../../css/style.css"/>
        </head>
    </wicket:remove>
</wicket:head>
<wicket:extend>
    <!-- start content -->
    <div id="content">
        <div wicket:id="task_list_panel"></div>
    </div>

    <!-- end content -->
    <!-- start sidebar one -->
    <div id="sidebar1">
    </div>
    <!-- end sidebar one -->
</wicket:extend>
</body>
</html>