<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title wicket:id="title">TaskUn</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css"/>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <span wicket:id="menu">[MENU]</span>
    <span wicket:id="header">[HEADER]</span>
    <!-- start page -->
    <div id="page">
        <div id="bgtop"></div>
        <div id="bgbottom">
            <wicket:child/>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <hr/>
    <span wicket:id="footer">[FOOTER]</span>
</div>
</body>
</html>