<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title wicket:id="title">TaskUn</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css"/>
    <![endif]-->
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start menu -->
    <div id="menu">
        <ul>
            <li>
                <wicket:link><a href="HomePage.html">Home</a></wicket:link>
            </li>
            <li class="current_page_item"><a href="#">Blogs</a></li>
            <li>
                <wicket:link><a href="ExamplePage.html">Photos</a></wicket:link>
            </li>
            <li>
                <wicket:link><a href="ExamplePage.html">About</a></wicket:link>
            </li>
            <li>
                <wicket:link><a href="ExamplePage.html">Contact</a></wicket:link>
            </li>
        </ul>
    </div>
    <!-- end menu -->
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1 wicket:id="app_name">TaskUn</h1>

            <p wicket:id="app_desc">Управление задачами</p>
        </div>
        <div id="search">
            <form method="get" action="">
                <fieldset>
                    <legend>Quick Search</legend>
                    <input id="s" type="text" name="s" value=""/>
                    <input id="x" type="submit" value="Search"/>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="bgtop"></div>
        <div id="bgbottom">

            <wicket:child/>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <hr/>
    <!-- start footer -->
    <div id="footer">
        <p>&copy;2011, Maxim Yunusov. All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a
                href="http://www.freecsstemplates.org/">Free CSS Templates</a> &nbsp;&bull;&nbsp; Icons by <a
                href="http://www.famfamfam.com/">FAMFAMFAM</a>.</p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->
</body>
</html>