<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div id="current_user" class="sidebar" style="float: left; width:175px">
        <ul>
            <li>
                <h2 wicket:id="current_user">[Current User]</h2>
                <div>
                    <div class="gridimage" style="float: left;">
                        <img src="/images/User_black.png" alt="" width="64" height="64"/>
                    </div>
                    <div style="float: right; padding: 5px 15px 5px 25px;">
                        <p class="caption" wicket:id="unknown">[Unknown]</p>
                    </div>
                </div>
                <div class="operations">
                    <form wicket:id="current_user_form">
                        <input type="button" value="[LogOff]" wicket:id="logoff"/>
                    </form>
                </div>
            </li>
        </ul>

    </div>
</wicket:panel>
</body>
</html>