<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div id="employee_panel" class="post" style="width: 630px; float: none;">
        <h1 class="title">[Добавление сотрудника]</h1>

        <div wicket:id="feedback" class="feedback"></div>

        <img src="/images/User_new.png" alt="" class="avatar" style="float: left; padding: 5px" />

        <form wicket:id="employee_form" style="float: left">
            <table>
                <tr>
                    <td wicket:id="last_name">[lastName]</td>
                    <td><label>
                        <input type="text" wicket:id="lastName"/>
                    </label></td>
                </tr>
                <tr>
                    <td wicket:id="first_name">[firstName]</td>
                    <td><label>
                        <input type="text" wicket:id="firstName"/>
                    </label></td>
                </tr>
                <tr>
                    <td wicket:id="middle_name">[middleName]</td>
                    <td><label>
                        <input type="text" wicket:id="middleName"/>
                    </label></td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="Применить"/>
        </form>
    </div>
</wicket:panel>
</body>
</html>