<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div id="footer">
        <p>&copy;2011, <a href="http://www.maxur.org/">Maxim Yunusov</a>. All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a
                href="http://www.freecsstemplates.org/">Free CSS Templates</a> &nbsp;&bull;&nbsp; Icons by <a
                href="http://www.famfamfam.com/">FAMFAMFAM</a>.</p>
    </div>
</wicket:panel>
</body>
</html>