<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div id="group_panel" class="sidebar">
        <ul>
            <li>
                <h2><span wicket:id="resume_title">[Resume]</span></h2>
                <ul>
                    <li><span wicket:id="total">[Total]</span></li>
                    <li><span wicket:id="selected">[Selected]</span></li>
                </ul>
                <h2><span wicket:id="opp_title">[Resume]</span></h2>
                <ul>
                    <li><a wicket:id="remove"><span wicket:id="remove_title">[REMOVE]</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</wicket:panel>
</body>
</html>