<?xml version="1.0" encoding="UTF-8"?>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/"
        xml:lang="en"
        lang="en">
<wicket:head>
    <wicket:remove>
        <head>
            <link rel="stylesheet" type="text/css" href="../../../../../css/style.css"/>
        </head>
    </wicket:remove>
</wicket:head>
<body>
<wicket:panel>
    <div id="header">
        <div id="logo">
            <h1><wicket:message key="label.application.name">TaskUn</wicket:message></h1>

            <p><wicket:message key="label.application.desc">Управление задачами</wicket:message></p>
        </div>
        <div id="search">
            <form method="get" action="">
                <fieldset>
                    <legend>Quick Search</legend>
                    <input id="s" type="text" name="s" value=""/>
                    <input id="x" type="submit" value="Search"/>
                </fieldset>
            </form>
        </div>
    </div>
</wicket:panel>
</body>
</html>