<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:extend>
    <!-- start content -->
    <div id="content">
        <div wicket:id="employee_list_panel"></div>
        <div wicket:id="employee_panel"></div>
        <div wicket:id="task_list_panel"></div>
    </div>

    <!-- end content -->
    <!-- start sidebar one -->
    <div id="sidebar1">
        <div wicket:id="group_panel"></div>
    </div>
    <!-- end sidebar one -->
    <!-- start sidebar two -->
    <div id="sidebar2">
        <div wicket:id="current_user_panel"></div>
    </div>
    <!-- end sidebar two -->
</wicket:extend>
</body>
</html>