<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <!-- start menu -->
    <div id="menu">
        <ul>
            <li wicket:id="menu_items"><span wicket:id="menu_item">
                <a href="#" wicket:id="menu_item_link"><span wicket:id="menu_item_name">[Menu Item]
                </span></a>
            </span></li>
        </ul>
    </div>
    <!-- end menu -->
</wicket:panel>
</body>
</html>