<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <!-- start menu -->
    <div id="menu">
        <ul>
            <li>
                <wicket:link><a href="HomePage.html" wicket:id="home">Home</a></wicket:link>
            </li>
            <li class="current_page_item"><a href="#" wicket:id="blogs">Blogs</a></li>
            <li>
                <wicket:link><a href="ExamplePage.html" wicket:id="example">Photos</a></wicket:link>
            </li>
            <li>
                <wicket:link><a href="ExamplePage.html" wicket:id="about">About</a></wicket:link>
            </li>
            <li>
                <wicket:link><a href="ExamplePage.html">Contact</a></wicket:link>
            </li>
        </ul>
    </div>
    <!-- end menu -->
</wicket:panel>
</body>
</html>